@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.main {
    background: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0 0.5rem 2rem 0;
}

form {
    padding: 2rem;

    .form {
        &-group {
            margin-bottom: 1rem;
        }

        &-label {
            margin-bottom: 0.5rem;
        }
    }

    input,
    textarea {
        border: 1px solid black;
        padding: 0.5rem;
    }
}

.preview-image {
    max-width: 200px;
    display: block;

    img {
        border: 1px solid rgba(225,225,225,0.8) !important;
        height: auto !important;
        min-height: auto !important;
    }
}
